# CRC Make-A-Thon Crash Course - API Number Exercise

Lets pick a API_14 number and assign it to a string variable.

In [4]:
API_14 = '04030565740000'
print(API_14)

04030565740000

Lets then use API_14 to split the sting and find API_12, API_10, and API_8

In [9]:
API_12 = API_14[:12]
print(API_12)

API_10 = API_14[:10]
print(API_10)

API_08 = API_14[2:-4]
print(API_08)

040305657400
0403056574
03056574

## Exercise 1:
## Lets present the results in a few ways

### 1. Try presenting  the results in a simple way by inserting the results into strings.

 '\t' creates a tab seporator within the string.

In [6]:
#example
value = '####'
print('Name:\t' + value)

Name:	####

In [10]:
#Answer
print('API14:\t' + API_14)
print('API12:\t' + API_12)
print('API10:\t' + API_10)
print('API08:\t' + API_08)

API14:	04030565740000
API12:	040305657400
API10:	0403056574
API08:	03056574

### 2. Try presenting the results by passing the API strings to one string statement.

 '\n' creates a new line within the string.

In [11]:
#example
str1 = '{}:\t{}'.format('Name1', value)
str2 = '{}:\t{}'.format('Name2', value)
statement = str1 + '\n' + str2 
print(statement)

Name1:	####
Name2:	####

In [13]:
#Answer
str1 = '{}:\t{}'.format('API14', API_14)
str2 = '{}:\t{}'.format('API12', API_12)
str3 = '{}:\t{}'.format('API10', API_10)
str4 = '{}:\t{}'.format('API08', API_08)
statement = str1 + '\n' + str2 + '\n' + str3 + '\n' + str4
print(statement)
print(type(statement))

API14:	04030565740000
API12:	040305657400
API10:	0403056574
API08:	03056574
<class 'str'>

### 3. Try presenting the results by iterating over a list of the results.

First create two lists for our API varible names and values. Then use a for loop to print API_no and API_vlaue iterating over a range from 0 to length of API names.

In [7]:
#example
Names = ['Name1','Name2']
print(Names)

Values = ['####','####']
print(Values)

['Name1', 'Name2']
['####', '####']

In [8]:
#example
r = range(0, len(Names))

for i in r:
    print('{}:\t{}'.format(Names[i],Values[i]))

Name1:	####
Name2:	####

In [16]:
#Answer
names = ['API14','API12','API10','API08']
print(names)

values = [API_14, API_12, API_10, API_08]
print(values)

['API14', 'API12', 'API10', 'API08']
['04030565740000', '040305657400', '0403056574', '03056574']

In [17]:
#Answer
numbers = range(0, len(names))

for i in numbers:
    print('{}:\t{}'.format(names[i],values[i]))

API14:	04030565740000
API12:	040305657400
API10:	0403056574
API08:	03056574

### 4. Try presenting the results by iterating over a dictionary of the results

First create a dictionary of our API variables. Then use a for loop to print API variables iterating through the  dict.

In [18]:
#example
Name_dict = {'Name1':'#####', 'Name2':'#####'}
print(Name_dict)

{'Name1': '#####', 'Name2': '#####'}

In [19]:
#example
for key, value in Name_dict.items():
    print('{}:\t{}'.format(key,value))

Name1:	#####
Name2:	#####

In [22]:
#Answer
name_dict = {'API14':API_14,'API12':API_12,'API10':API_10,'API08':API_08}
print(name_dict)

{'API14': '04030565740000', 'API12': '040305657400', 'API10': '0403056574', 'API08': '03056574'}

In [26]:
#Answer
for key, value in name_dict.items():
    print('{}:\t{}'.format(key,value))

API14:	04030565740000
API12:	040305657400
API10:	0403056574
API08:	03056574

# Exercise 2: 
# Lets assume our well was redrilled and will need an updated API_14.

For redrilled wells the API_12 value updates by 1. Therefore 04030565740000 becomes 04030565740100.

### 1. Try updating the API_14 using a sting replace.

In [27]:
# example
Name = 'James'
new_Name = Name.replace('es','ie')
print('new_Name:\t' + new_Name)

new_Name:	Jamie

In [31]:
#Answer
name = API_14
new_name = name.replace('0000','0100')
print('old_name:\t' + name)
print('new_name:\t' + new_name)

old_name:	04030565740000
new_name:	04030565740100

### 2. Try updating the API_14 by finding the API_10 and add the updated last four values.

In [39]:
#example
Name = '012345'
Name = Name[:2]
new_Name = Name + '678'

print('new_Name:\t' + new_Name)

new_Name:	01678

In [41]:
#Answer
name = API_14
new_name2 = name[:-4] + '0100'
print('new_name2:\t' + new_name2)

new_name2:	04030565740100

### 3. Try updating the API_14 by splitingthe API_14 before and after the 12 value.

In [42]:
#example
Name = '012345'
new_Name = Name[:2] + '1' + Name[3:]

print('new_Name:\t' + new_Name)

new_Name:	011345

In [48]:
#Answer
name = API_14
new_name3 = name[:11] + '1' + name[12:]

print('new_name3:\t' + new_name3)

new_name3:	04030565740100

###  4. FYI. We can also change the API_12 directly by first turning the string to a list and replace the 12th number then joining the list back to one string.

In [53]:
#Answer
l = list(API_14)
l[11] = '1'
new_api_14 = ''.join(l)

print(l)
print(new_api_14)

['0', '4', '0', '3', '0', '5', '6', '5', '7', '4', '0', '1', '0', '0']
04030565740100